<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />        
  </configSections>
  <connectionStrings>
    <add name="RepositorioModeloQC"
      connectionString="Data Source=14.2.83.13;Persist Security Info=False;User ID=usr_dw_wm;Password=usr_dw_wm;Initial Catalog=Quality_Control;" providerName="System.Data.SqlClient" />
    <add name="RepositorioModeloWM_DB"
          connectionString="Data Source=14.2.83.13;Persist Security Info=False;User ID=usr_dw_wm;Password=usr_dw_wm;Initial Catalog=WM_DB;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--<register type="ubs.brasil.qualitycontrol.dominio.repositorio.interfaces.IRepositorio,QualityControl" mapTo="ubs.brasil.qualitycontrol.dominio.repositorio.RepositorioModelo,QualityControl"  />-->
    </container>
  </unity>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="PasswordCriptographyAlgo" value="SHA128" />

    <add key="CultureData" value="pt-BR" />
    <add key="CultureValLimite" value="en-US" />
    <add key="Ambiente" value="LOCAL" />
    <add key="TempoEsperaProcessamento" value="10000" />
    <add key="TempoEsperaLog" value="4000" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>  
</configuration>
