<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.15.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender,log4net">
      <file value=".\Log_Worker_WalmartLayoutParser.log" />
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %level %logger- %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--<register type="worker_WalmartLayoutParser.map.interfaces.IMap, Worker_WalmartLayoutParser" mapTo="worker_WalmartLayoutParser.map.Map, Worker_WalmartLayoutParser"  />-->
    </container>
  </unity>

  <appSettings>
    <!-- Catalog de Produto / partial ou full-->
    <add key="ProductCatalog" value="full" />
    <!-- Path para geraçaõ do arquivo XML -->
    <add key="PathFileGeneration" value=".\" />
    <!-- Path para cópia do arquivo XML -->
    <add key="PathFileCopy" value=".\Copy\" />
    <!-- Path para mover o arquivo XML -->
    <add key="PathFileMove" value=".\Move\" />        
    <!-- Nome do arquivo XML -->
    <add key="XMLFileName" value="XDS_952" />
    <!-- Quantidade de tentativas a API de Catalogo de Produtos do Walmart -->
    <add key="QtCatalogConsumer" value="3" />
    <!-- API Walmart - URL -->
    <add key="UrlAPIWalmart" value="https://186.209.165.148/api/v2" />
    <!-- API Walmart - Client Id para autenticação -->
    <add key="ClientIdAPIWalmart" value="5e20f8140634211ece038ebafcf6dce61a0c9a29fc31e47f28eb85634db7b66c" />
    <!-- API Walmart - Client Secret para autenticação -->
    <add key="ClientSecretAPIWalmart" value="beb13e5495513465e052a5e2a08b7ca5aa3f134c5de1d958b75eac73f55052e4" />
    <!-- API Walmart - Grant Type para autenticação -->
    <add key="GrantTypeAPIWalmart" value="client_credentials" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>